.form{
    display: flex;
    width: 60%;
    align-items: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-form{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width:900px) {
    .form{
        flex-direction: column;
    }
  }