.Container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    background-color: rgba(109, 102, 102, 0.1);
    border: solid rgba(47, 43, 43, 0.15);
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}
.Row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.Row-cols-1>* {
    flex: 0 0 auto;
    width: 100%;
}
*, ::after, ::before {
    box-sizing: border-box;
}

div{
    display: block;
    color: azure;
}
.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: #6c757d;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.Block {
    height: 4rem;
    background-color: rgba(109, 102, 102, 0.1);
    border: solid rgba(47, 43, 43, 0.15);
    border-width: 1px 0;
    width: 100%;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}
.image{
    width:250px;
    padding:20px;
    margin-top:40px;
}

.About{
    background-color: rgba(109, 102, 102, 0.1);
    border: solid rgba(47, 43, 43, 0.15);


}