@font-face {
  font-family: 'MyFont';
  src: local('MyFont'),
   url(./fonts/Sony_Sketch_EF.woff) format('woff');
 
}

nav{
  display:flex;
  align-items:center;
  justify-content: flex-start;
  height:50px;
  background-color:black;
  width: 100vw;
}
.nav-options{
  width:100vw;
  display: flex; 
  align-items:center;
  justify-content: space-around;
}
nav img{
  height:50px;
  padding:20px;
}
a{
  text-decoration:none;
  color:rgb(211, 211, 211);
  font-size:25px;

}
a:hover{
  color:white;
 
}
.App{
 font-family: 'MyFont';
  
}

#products{
  display:flex;
  width: 100vw;
  align-items: center;
  justify-content: center;

  margin-top: 3em;
}

@media(max-width:900px) {
  #products{
    flex-direction: column;
  }
}