#products{
  display:flex;
}
.product{
  padding:10px;
  margin:10px;
  background-color: rgb(240, 240, 240);
  border-radius:8px;
}
nav{
  display:flex;
  align-items:center;
  justify-content: flex-start;
  height:50px;
  background-color:black;
}
.nav-options{
  width:100%;
  display: flex;
  align-items:center;
  justify-content: space-around;
}
nav img{
  height:50px;
  padding:20px;
}
a{
  text-decoration:none;
  color:rgb(211, 211, 211);
  font-size:25px;

}
a:hover{
  color:white;
 
}
.App{
 font-family: 'MyFont';
  
}
@media(max-width:650px) {
  
}



@font-face {
  font-family: 'MyFont';
  src: local('MyFont'),
   url(./fonts/Sony_Sketch_EF.woff) format('woff');
 
}